body {
  width: 100%;
  height: 100%;
  font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
  background-color: #4899ea;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #10161c;
}
.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #4899ea;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #ffffff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: none;
}
.navbar-custom a {
  color: #ffffff;
}
.navbar-custom .nav li.active {
  outline: nonte;
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #4899ea;
    opacity: .9;
  }
  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #ffffff;
  background: #4899ea no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 767px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 25px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #ffffff;
  border-radius: 35px;
  font-size: 40px;
  color: #ffffff;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.form-section {
  width: 100%;
  padding: 250px 0;
  height: 100%;
  color: #222222;
  background: #ffffff no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media (max-width: 768px) {
  .form-section {
    padding: 100px 0 50px;
  }
}
@media (min-width: 767px) {
  .content-section {
    padding-top: 50px;
  }
  .form-section {
    padding: 100px 0;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-default {
  border: 1px solid #34495e;
  color: #222222;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #e67e22;
  outline: none;
  color: #222222;
  background-color: #e67e22;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  color: #eeeeee;
  padding: 50px 0;
}
footer a {
  color: #ffffff;
}
footer a.btn {
  margin: 30px 20px 10px 20px;
}
footer a:hover {
  color: #ffffff;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #3c3c3c;
  background: rgba(44, 62, 80, 0.2);
}
::selection {
  text-shadow: none;
  background: #3c3c3c;
  background: rgba(44, 62, 80, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(44, 62, 80, 0.2);
}
#convert {
  background: #ffffff no-repeat center center scroll;
  min-height: 100%;
  margin-top: 100px;
}
#convert form.slideshare-url-form {
  margin-top: 100px;
}
@media (max-width: 768px) {
  #convert form.slideshare-url-form {
    margin-top: 50px;
  }
}
#convert .progress {
  margin-top: 100px;
  margin-left: 20px;
  height: 50px;
}
#convert .progress .progress-bar {
  min-width: 30%;
}
@media (max-width: 768px) {
  #convert .progress .progress-bar {
    min-width: 40%;
  }
}
#convert .progress span {
  margin: 14px;
  font-size: 1.5em;
  display: block;
}
#convert .btn-default {
  padding-top: 15px;
  padding-bottom: 14px;
}
@media (max-width: 768px) {
  #convert .btn-default {
    margin-top: 40px;
  }
}
#convert .glyphicon {
  font-size: 38px;
  padding-top: 10px;
  margin-left: 12px;
}
@media (max-width: 768px) {
  #convert .glyphicon {
    margin-top: 40px;
  }
}
#convert .ladda-button[data-loading] {
  color: #aaa;
}
#convert #save-gif {
  margin-top: 40px;
}
#convert input[type=url] {
  padding: 22px;
  float: left;
  width: 65%;
}
#convert .thumbnail {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 55px;
}
#convert .thumbnail img {
  width: 100%;
}
#convert .imgur-button-container {
  margin-top: 20%;
  width: 80%;
}
#convert a {
  color: #111;
}
#convert .settings {
  margin-top: 15px;
  display: none;
}
.main-image {
  margin: 70px auto 20px;
}
.input-hg {
  height: 53px;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.318;
  border-radius: 6px;
}
.not-supported-message {
  display: none;
}
html.not-supported body > * {
  display: none;
}
html.not-supported body .not-supported-message {
  display: block;
}
div.alert {
  margin-top: 5%;
}
.slideshare-url-form .form-group .form-control {
  border: 1px solid #666666;
}
#faq {
  background-color: #ffffff;
}
#faq a {
  color: #1abc9c;
}
#faq .row {
  margin-top: 12%;
  margin-bottom: 12%;
}
#faq .row div p {
  margin-top: 50%;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 767px) {
  #faq .row div p {
    margin-top: 50px;
  }
}
